{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}

<div class='container'>
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            {% for object in object_list %}

            <div class="card">
                <div class="card-header">
                    {{ object.author }}
                </div>
                <img src=" {{ object.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> {{ object.text }} </p>
                </div>
                <ul class="list-group list-group-flush">

                   <li class="list-group-item">
                        <a href="{% url 'photo:like' object.id %}" class="float-left btn-like {%if user in object.like.all %} active {%endif%}">좋아요!</a>
                        {% if object.like.all.count %}
                        <span class = "float-left">
                            {{object.like.all.count}}
                        </span>
                        {% endif %}
                        <a href="{% url 'photo:favorite' object.id %}" class="float-right btn-favorite {%if user in object.favorite.all %}active{%endif%}">저장하기!</a>
                    </li>
                    <li class="list-group-item">생성일 : {{ object.created }}</li>
                </ul>
                <div style="margin: 0 20px;text-align: left;font-size: 14px"> 춘식이 <b>외 {{ object.like.all.count }}명</b>이
                    좋아합니다.
                </div>
<!--                <div style="margin: 0 20px;text-align: left;font-size: 16px">-->
<!--                    <b>{{ object.username }}</b> {{ object.text }}-->
<!--                </div>-->
<!--                <div id="reply_list_{{ feed.id }}"> &lt;!&ndash;- 요기가 댓글보이는 거 -&ndash;&gt;-->
<!--                    {% for reply in feed.reply_list %}-->
<!--                        <div style="margin: 0 20px;text-align: left;font-size: 14px">-->
<!--                            <b>{{ reply.nickname }}</b> {{ reply.reply_content }}</div>-->
<!--                    {% endfor %}-->
<!--                </div> &lt;!&ndash;- 요기가 댓글보이는 거 -&ndash;&gt;-->
                <div style="display:flex;flex-direction: row;align-items: center; border-top: solid 1px gray ">
<!--                    <input id="reply_{{ object.id }}" type="text" class="form-control"-->
<!--                           style="box-shadow: none; border: none; outline: none"-->
<!--                           placeholder="댓글 달기..">-->
<!--                    <div feed_id="{{ object.id }}" class="upload_reply"-->
<!--                         style="width: 50px;color: cornflowerblue; font-weight: bold">-->
<!--                        게시-->
<!--                    </div>-->
                    {% for comment in comments %}
                    <hr>
                    <p>{{ comment.author }}</p>
                    <p>{{ comment.comment }}</p>
                    <hr>
                {% endfor %}
                </div>
                <form method="POST" action="{% url 'photo:comment_write' object.id %}">
                    {% csrf_token %}
                    <input type="text" value="댓글 입력">
                    <input class="btn btn-warning" type="submit" value="댓글달기">
                </form>
<!--                <div class="card-body">-->
<!--                    <a href="{% url 'photo:detail' object.id %}" class="card-link">댓글달기</a>-->
<!--                    <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>-->
<!--                    <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>-->

<!--                </div>-->

            </div>
            {% endfor %}

        </div>


        <div class="col" >
            {% load static %}
<!--            <div class="card" style="">-->
<!--                <img src="{% static 'images/bu-k.jpg' %}" class="card-img-top">-->
<!--                <div class="card-body">-->
<!--                        <h5 class="card-title">{{ request.user }}</h5>-->
<!--                    <p class="card-text">회원님의 스토리를 확인해보세요!</p>-->
<!--                    <a href="{% url 'photo:mylist' %}" class="btn btn-primary">회원님의 스토리 이동 </a>-->
<!--                </div>-->
<!--            </div>-->
            <div style="display: flex;flex-direction: row; align-items: center; margin: 20px; padding-top: 50px">
                <div class="box" style="width: 70px; height: 70px">
                    <img src="{% static 'images/bu-k.jpg' %}" class="card-img-top">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold">
                        {{ request.user }}
                    </div>
                    <div style="color: gray">
                        {{ user.email }}
                    </div>
                </div>
                <a href="{% url 'photo:mylist' %}" class="btn btn-primary">회원님의 스토리 이동 </a>
            </div>

            <div style="display: flex;flex-direction: row; justify-content: space-between">
                <div style="font-weight: bold; color: gray">
                    회원님을 위한 추천
                </div>
                <div>
                    <a href="#" style="font-weight: bold;color: black;text-decoration: none">모두보기</a>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile" style="width: 35px; height: 35px"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png" >
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        나랑 같이 치킨 먹음
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile" style="width: 35px; height: 35px"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        나랑 같이 치킨 먹음
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile" style="width: 35px; height: 35px"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        나랑 같이 치킨 먹음
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile" style="width: 35px; height: 35px"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        나랑 같이 치킨 먹음
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile" style="width: 35px; height: 35px"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        나랑 같이 치킨 먹음
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">팔로우</a>
            </div>
        </div>

        <div style="margin-top: 40px;font-size: 12px;color: gray; text-align: left"> 소개 도움말 홍보센터 API <br> 개인정보처리방침 약관 위치
            인기 계정 해시태그 언어
        </div>
        <div style="margin-top: 20px;font-size: 12px;color: gray; text-align: left"> 2021 인스타그램 프롬 페이스북</div>
        </div>
    </div>
</div>

{% endblock %}
